*{
    box-sizing: border-box;
    }
    body{
    font-family: 'Montserrat', sans-serif;
    }
    a{
    color: #fff;
    text-decoration: none;
    }
    .container{
    max-width: 1132px;
    margin-left: auto;
    margin-right: auto;
    }
    .header{
    background-color: #333;
    }
    .header__top{
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    }
    .menu__list{
    display: flex;
    margin-top: 0.7em;
    margin-right: 20em;
    }
    .menu__list a:hover{
    opacity: 0.8;
    transition: 0.3s;
    }
    .menu__list-rigth a:hover{
    opacity: 0.8;
    transition: 0.3s;
    }
    .menu__list li{
    padding-right: 1em;
    }
    .menu__list-rigth{
    list-style-type: none;
    display: flex;
    margin-top: 0.7em;
    }
    .menu__list-rigth a{
    padding-right: 1em;
    }
    .img__logo{
    width: 8em;
    }